h1{
  color:Black;
  font-size:40px;
  border: 4px solid black;
  border-radius: 4px;
}

img{
   width:180px;
   position: inline-block;
}  

#bp{
   color:blue;
   border: 35px solid black;
   opacity:0.50;
}

nav{ 
  position:fixed;
  width:150px;
  top:0;
  left:0;
  height:100%;
  margin-top:450px;
}

#main{
     width:50%;
     display: inline-block;
     left:0;
    
}
#cain{
width:50%;
     display: inline-block;
     left:0;
}
article{ 
  position:relative;
  width: 70%;
  left: 160px;
}

section{
position:relative;
left:160px;
}

body{
  background-color: #6e6e6e;
  font-family: "Times New Roman";
}  
