h1{
  color:black;
}

img{
   width:250px;
}  

#bp{
   color:blue;
   border: 35px solid black;
   opacity:0.50;
}

p{
  background: rgba(245,248,250,1);
background: -moz-linear-gradient(left, rgba(245,248,250,1) 0%, rgba(3,121,247,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245,248,250,1)), color-stop(100%, rgba(3,121,247,1)));
background: -webkit-linear-gradient(left, rgba(245,248,250,1) 0%, rgba(3,121,247,1) 100%);
background: -o-linear-gradient(left, rgba(245,248,250,1) 0%, rgba(3,121,247,1) 100%);
background: -ms-linear-gradient(left, rgba(245,248,250,1) 0%, rgba(3,121,247,1) 100%);
background: linear-gradient(to right, rgba(245,248,250,1) 0%, rgba(3,121,247,1) 100%);
}




body{
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(107,107,107,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(107,107,107,1) 100%);
}  
