h1{
  color:black;
}

img{
   width:250px;
}  

#bp{
   color:blue;
   border: 35px solid black;
   opacity:0.50;
 }

p{
  
  
}




body{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #3761d6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%,#3761d6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%,#3761d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3761d6',GradientType=1 );
}  
